<h3>Search Result</h3>

<% @results.each do |result| %>
       <ul>
 <li> <%= result.name %> </li>
	<% if result.image? %>
     <p><%= image_tag result.image.thumbnail.url %></p>
  <% end %>
  <p> <strong> Description </strong><%= result.description %>
  <strong> Price </strong><%= result.price %> </p>
</ul>
    <% end %>
