<h3>Search Result</h3>

    <% @results.each do |result| %>
       <ul>
 <li> <%= result.name %> </li>
 <p> <%= image_tag result.image %>
  <strong> Description </strong><%= result.description %>
  <strong> Price </strong><%= result.price %> </p>

</ul>
    <% end %>