<ul>
 <li> <%= @product.name %> </li>
 <p> <%= @product.description %>
  <%= image_tag @product.image %>
  <%= @product.price %> </p>
  <input type="number" name="quantity" min= 1 >
  <input type = "submit" >

</ul>