<ul>
 <li> <%= @product.name %> </li>
 <p> <%= @product.description %>
<% if @product.image? %>
          <p><%= image_tag @product.image.thumbnail.url %></p>
           <% end %>  <%= @product.price %> </p>
  <input type="number" name="quantity" min= 1 >
  <input type = "submit" >

</ul>